.main-container {
  display: flex;
  flex-wrap: wrap;
  font-variant:small-caps;
}
.flex-item {
  flex: auto;
  text-align: center;
  height: 100px;
}
.news {
  background-color: #000000;
  color: #FFFFFF;
  width: 100%;
  height: auto;
  order: 1;
  margin: 1em;
}
.sports {
  background-color: #FFFFFF;
  color: #0C3659;
  width: 50%;
  height: auto;
  order: 2;
  margin: 1em;
}
.culture {
  background-color: #FFFFFF;
  color: black;
  width: 25%;
  height: auto;
  order: 3;
}
.opinion {
  background-color: black;
  color: white;
  width: 25%;
  height: auto;
  order: 4;
}
@media (min-width: 800px) {
.news {
  order: 1;
  background-color: #FFFFFF;
  color: #0C3659;
}
.sports {
  order: 2;
  background-color: #000000;
  color: #FFFFFF;
}
.culture {
  order: 3;
  background-color: #000000;
  color: #FFFFFF;
}
.opinion {
  order: 4;
  background-color: #FFFFFF;
  color: #0C3659;
}
}
@media (max-width: 400px) {
  .news {
    order: 1;
    background-color: #F2BEFF;
  }
  .sports {
    order: 2;
    background-color: #F2BEFF;
  }
  .culture {
    order: 3;
    background-color: #F2BEFF;
  }
  .opinion {
    order: 4;
    background-color: #F2BEFF;
  }
}

.menu-container {
    color: white;
    background-color: white;
    margin: 0;
    padding: 0;
}

.tab {
    display: inline-block;
    padding: 0.5em;
    text-align: center;
    color: #000;
}

.menuitem:hover, .dropdown:hover {
    color: #fff;
    background-color: white;
}

.dropdown {
    display: inline-block;
    width: 10%;
    min-width: 100px;
}

.dropdown-item {
    display: block;
    text-align: center;
    margin: 0;
    padding: 0;
    min-width: 7em;
}
.dropdown-content {
    display: none;
    position: absolute;
    border: 1px solid #000;
    margin: 0;
    color: white;
    background-color: #fff;
    z-index: 5;
}

.dropdown-content a {
    color: #white;
    text-decoration: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-item:hover, .dropdown-item:hover a {
    color: #fff;
    background-color: white;
}
